.emoji-search .emoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.emoji-container > div {
    margin-top: -30px;
    padding: 0;
}

.emoji-container button {
    z-index: 5;
    font-size: 2.5em;
    padding: 0;
    width: 100%;
    border: none;
    background-color: transparent;
}

.emoji-container button:focus {
    background-color: #EDF1FB;
}

.emoji-container button:focus ~ .copied-badge {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -130px, 0);
    z-index: 999;
}

.emoji-container .copied-badge {
    position: relative;
    z-index: -1;

    background: #EEEEEE;
    border-radius: 100px 100px;
    padding: 3px 10px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: ease-out 200ms, -webkit-transform ease-out 200ms;
}

.emoji-container .blue {
    background-color: #4e73df;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/*Emoji container search bar*/
.emoji-search .form-control {
    border-color: #94ABEB;
}

.emoji-search #button-addon1 {
    border-color: #4e73df;
    color: #4e73df;
}

.emoji-search #button-addon1:hover {
    background-color: #4e73df;
    color: white;
}

/*Spinner*/
.pswp__preloader__icn {
    position: relative;
    opacity:0.75;
    width: 14px;
    height: 14px;
    right: 94px;
    top: 14px;
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
}

@media only screen and (min-device-width: 812px) {
    .emoji-container button {
        font-size: 4em;
    }

    .input-group {
        padding: 0 25%;
    }
}

/* The idea of animating inner circle is based on Polymer loading indicator by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html */
.pswp__preloader__cut {
    width: 7px;
    height: 14px;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.pswp__preloader__donut--fake {
    box-sizing: border-box;

    width: 14px;
    height: 14px;


    border: 2px solid #4e73df;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

    background: none;
    margin:0;
}

.pswp__preloader__donut {
    box-sizing: border-box;

    width: 14px;
    height: 14px;


    border: 2px solid #4e73df;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;

    position: absolute;
    top: 0;
    left: 0;

    background: none;
    margin:0;

    -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;

}


@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@keyframes clockwise {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@-webkit-keyframes donut-rotate {
    0% { -webkit-transform: rotate(0) }
    50% { -webkit-transform: rotate(-140deg) }
    100% { -webkit-transform: rotate(0) }
}
@keyframes donut-rotate {
    0% { transform: rotate(0) }
    50% { transform: rotate(-140deg) }
    100% { transform: rotate(0) }
}