.emoji-search .emoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.emoji-container > div {
    margin-top: -30px;
    padding: 0;
}

.emoji-container button {
    z-index: 5;
    font-size: 2.5em;
    padding: 0;
    width: 100%;
    border: none;
    background-color: transparent;
}

.emoji-container button:focus {
    background-color: #EDF1FB;
}

.emoji-container button:focus ~ .copied-badge {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -130px, 0);
    z-index: 999;
}

.emoji-container .copied-badge {
    position: relative;
    z-index: -1;

    background: #EEEEEE;
    border-radius: 100px 100px;
    padding: 3px 10px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: ease-out 200ms, -webkit-transform ease-out 200ms;
}

.emoji-container .blue {
    background-color: #4e73df;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/*Emoji container search bar*/
.emoji-search .form-control {
    border-color: #94ABEB;
}

.emoji-search #button-addon1 {
    border-color: #4e73df;
    color: #4e73df;
}

.emoji-search #button-addon1:hover {
    background-color: #4e73df;
    color: white;
}